@font-face {
  font-family: 'Montserrat-Regular';
  src: local('Montserrat-Regular'), url(./assets/fonts/Montserrat-Regular.ttf) format('woff');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: local('Montserrat-Medium'), url(./assets/fonts/Montserrat-Medium.ttf) format('woff');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: local('Montserrat-Bold'), url(./assets/fonts/Montserrat-Bold.ttf) format('woff');
}

* {
  font-family: 'Montserrat-Regular';
}

body {
  color: white;
  background-color: #01030A;
  margin: auto;
}

.userCard {
  border-style: solid;
  border-radius: 15px;
  border-width: 1px;
  border-color: white;
  padding: 15px;
  align-self: center;
  max-width: fit-content;
  max-height: fit-content;
  margin:auto;

}